@page "/fetchdata"
@using SEVEN.Core.Models
@using SEVEN.MissionControl.Server.Data.Repositories.Interfaces
@inject IMeasurementRepository MeasurementRepository

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (_measurements == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>ProbeId</th>
            <th>Value</th>
            <th>MeasurementType</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var measurement in _measurements)
        {
            <tr>
                <td>@measurement.Id</td>
                <td>@measurement.ProbeId</td>
                <td>@measurement.Value</td>
                <td>@measurement.MeasurementType</td>
                <td>@measurement.Time</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Measurement>? _measurements;

    protected override async Task OnInitializedAsync()
    {
        _measurements = await MeasurementRepository.GetMeasurements();
    }

}